.favMovieList{
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 350px;
    z-index: 200;
    right: 3.5%;
    background-color: #151f30;
    padding: 0px;
    overflow-y: scroll;
    max-height: 380px;
}
.favHeader{
    display: flex;
    justify-content: space-between;
    background-color:#2f80ed;
    padding: 10px;
}
.favHeader p{
    font-size: 20px;
    font-weight: bold;
    color: #131720;
    cursor: pointer;
}
.favHeader h3{
    color: #131720;
}
