.movieList{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.scrollBar{
    margin-bottom: 40px;
}

.scrollBarArrow{
    cursor: pointer;
    fill: #2f80ed;
    font-size: 20px;
}
