.movieItem{
    width: 100%;
    max-width: 200px;
    margin: 0 10px 0 10px;
    position: relative;
    list-style: none;
}
.movieItem:hover{
    cursor: pointer;
}
.movieItem h2{
    height: 70px;
}

.movieItem img{
    max-width: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.rating{
    position: absolute;
    color: white;
    z-index: 2;
    right: 0px;
    background: #151f30;
    border-top-right-radius: 10px;
    width: 35px;
    padding: 5px;
    font-weight: 600;
}

.movieDetails{
    background: #151f30;
    margin-top: -5px;
    padding: 10px;
    height: 130px;
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.movieDetails h3{
    font-size: 15px;
    color: white;
    padding: 5px 10px;
}

.trailerButton{
    position: absolute;
    bottom: 20px;
    background: transparent;
    border: none;
    color: #2f80ed;
    padding: 5px 10px;
    border-radius: 5px;
}

.trailerButton:hover{
    background: #fff;
    cursor: pointer;
}

.playTrailer{
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.favourite{
    position: absolute;
    bottom: 23px;
    right: 20px;
    background: none;
    border: none;
    color: #2f80ed;
}
.favourite:hover{
    cursor: pointer;
    color: #fff; 
}
.movieItem img:hover{
    opacity: 0.5;
}