@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #131720;
    font-family: Montserrat !important;
}
.movieListWrapper{
    overflow-x: auto;
    margin: 40px 10px 40px 10px;
    scrollbar-width: none;
}
.react-horizontal-scrolling-menu--arrow-left, .react-horizontal-scrolling-menu--arrow-right{
    align-items: center;
    padding: 10px;
}
.react-horizontal-scrolling-menu--scroll-container{
    scrollbar-width: none;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}
